<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style type="text/css">
        .room {
            margin: 5px;
            padding: 2px;
            border: 1px solid #000000;
            width: 70px;
            display: inline-block;
        }
        .border{
            margin: 3px;
            padding: 2px;
            border: 1px solid #000000;
        }

        .box {
            margin: 3px;
            padding: 2px;
            border: 1px solid #000000;
            display: inline-block;
        }
    </style>
</head>
<body>
<div id="app">
    <div id="gameCenter" v-if="status == 'Offline' || status == 'Online'">
        <div>
            用户名: <input type="text" v-model="username">
            <button @click="checkAndConnect">连接</button>
        </div>
        <div v-if="status == 'Online'">
            <div>
                <p>创建房间:</p>
                <input type="text" v-model="newRoomName">
                <button @click="createRoom">创建</button>
            </div>
            <div>
                <p>房间列表:</p>
                <div class="room"
                     v-for="room in roomList"
                     :title="roomDesp(room)"
                     @click="join(room)">
                    <p>{{room.roomName}}</p>
                    <p>{{room.status}}</p>
                </div>
            </div>
        </div>
    </div>
    <div id="game">
        <div id="controller" v-if="status != 'Offline' && status != 'Online'">
            <h1>房间: {{gameVal.roomName}}</h1>
            <button v-if="gameVal.roomOwner && status != 'Gaming'" @click="restartGame">开始游戏</button>
            <button @click="exit">离开房间</button>
        </div>
        <div id="roomPlayers" v-if="status == 'InRoom'">
            <p>房间中玩家:</p>
            <div class="box" v-for="p in gameVal.players">{{p.Username}}</div>
        </div>
        <div id="gameContent" v-if="status == 'Gaming' || status == 'End'">
            <div id="gameStatus" class="border">
                <div class="box">扑克: <span>{{gameVal.remain}}/20</span></div>
                <div class="box">酒: <span>sake</span></div>
            </div>
            <div id="player" class="border">
                <p>玩家卡牌:</p>
                <div class="box" v-for="p in gameVal.players">
                    <div class="box">{{p.Username}} 的卡牌:</div>
                    <div class="box" v-for="card in p.Cards">{{card}}</div>
                </div>
            </div>
            <div id="hand" class="border">
                <p>手牌:</p>
                <div class="box" v-for="card in gameVal.hand">{{card}}</div>
            </div>
        </div>
    </div>
</div>


</body>
<script src="index.js"></script>
</html>